@import url('//db.onlinewebfonts.com/c/1ba82d324736a8a9d4327d482c4627c4?family=Ebrima');

:root {
  --japanese-indigo: #1F4045;
  --platinum: #eae6e3;
    --dust-storm: #ebcdc3;
    --dim-gray: #636C6C;
  --roman-silver: #7f9593;
  --tan: #D5B19B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0.5%;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: wrap column;
  font-family: ebrima;
  color: var(--japanese-indigo);
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
}

h1 {
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  margin-bottom: 2%;
  color: var(--roman-silver);
  font-weight: 400;
  font-size: 3.5rem;
}

input,
textarea {
  outline: none;
}

/* Center Block */

.cnt-block {
  margin-top: 5%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  background-color: var(--japanese-indigo);
  color: var(--platinum);
  padding: 2% 0;
}


/* ------------------ */


/* nav-bar style */

.navbar {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--japanese-indigo);
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar-logo {
  cursor: pointer;
}

.navbar-logo img {
  height: 100px;
  width: 350px;
}

.navbar-menu {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  list-style: none;
}

.navbar-menu li {
  display: inline-block;
  padding: 0 10px;

}

.navbar-menu li a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: var(--platinum);
  font-size: 1.3rem;
}

.navbar-menu li a:hover {
  color: var(--platinum);
}

.navbar.scrolled {
  height: 80px;
  background-color: var(--roman-silver);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .navbar-logo img {
  height: 60px;
}

.navbar.scrolled .navbar-menu ul li a {
  font-size: 15px;
}


/* ------------------ */


/* btn style */
.navbar-button {
  width: 25%;
  height: 0;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: var(--dim-gray);
  color: var(--japanese-indigo);
  font-size: 1rem;
  margin-bottom: 5%;
  margin-right: 2%;
  }

.btn1:hover {
  cursor: pointer;
  color: var(--platinum);
  background-color: var(--japanese-indigo);
  border: 1px solid white;
}

.btn1-content {
  letter-spacing: 0.3rem;
}

/* ------------------ */
/* header style */
.container-main-img {
  margin-top: 150px;
}

.container-main-img img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

/* ------------------ */

/* about style */
.container-about {
  padding: 2% 5%;
  margin-top: 5%;
  background-color: var(--dust-storm);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.container-about h1 {
  font-size: 2.1rem;
}

.container-about p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  text-orientation: mixed;
}

.container-about img {
  margin-left: 10%;
}

.container-image-about img {
  width: 100%;
  height: 10%;
}

/* ------------------ */

/* services style */
.container-services {
  padding: 0 5%;
  margin-top: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.image-block {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.image-block img {
  width: 20%;
  margin: 1%;
  border-radius: 10px;
}

.image-block img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.5s ease 0s;
}

/* ------------------ */

/* Slogan style */

.slogan {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

/* ------------------ */

/* Portafolio style */
.container-portafolio {
  margin-top: 5%;
}

.container-portafolio img {
  width: 30%;
  margin: 1%;
  border-radius: 10px;
}

/* ------------------ */


/* Slogan2 style */

.slogan2 {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  width: 100%;
}

.icon-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.icon-item {
  margin-top: 10%;
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;

}

.icon-item img {
  margin-left: 35%;
  width: 30%;
  height: 100%;
    background-color: var(--platinum);
    border-radius: 50%;
}


.text-block {
  padding: 2%;
}


.text-block h4 {
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

.text-block p {
  font-size: 1.2rem;
  margin-top: 3%;
}

/* ------------------ */

/* Contact style */

.contact-block {
  display: flex;
  flex-flow: wrap;
  margin-top: 5%;
}

.container-contact {
  flex-basis: 50%;
}

.contact-items {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.contact-items-phone {
  padding-right: 95px;
  margin-bottom: 7%;
}

.contact-block img {
  width: 4%;
  margin-right: 3%;
}

.contact-block p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  text-orientation: mixed;
  color: var(--japanese-indigo);
}

.form-block {
  flex-basis: 50%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.form-block h4 {
  font-size: 1.3rem;
  font-weight: 100;
  color: var(--japanese-indigo);
}

/* form style */
form {
  position: relative;
  width: 80%;
  border-radius: 30px;
  background: #fff;
}

.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--roman-silver);
}

.form-left-decoration {
  bottom: 60px;
  left: -30px;
}

.form-right-decoration {
  top: 60px;
  right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #fff;
}

.form-left-decoration:before {
  top: -20px;
}

.form-left-decoration:after {
  top: 20px;
  left: 10px;
}

.form-right-decoration:before {
  top: -20px;
  right: 0;
}

.form-right-decoration:after {
  top: 20px;
  right: 10px;
}

.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.form-inner {
  padding: 40px;
}

.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 25px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
}

.form-inner textarea {
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid var(--platinum);
  background: var(--dust-storm);
  font-size: 16px;
  font-weight: 400;
  color: var(--japanese-indigo);
  font-weight: 500;
  transition: all 0.3s ease 0s;
}

button:hover {
  cursor: pointer;
  color: var(--platinum);
  background-color: var(--japanese-indigo);
    border-bottom: 4px solid var(--platinum);
}

/* social media style */

.socials-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15%;
    margin-right: 5%;
}

@media (min-width: 568px) {
  form {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .container-main-img {
    margin-top: 60px;
  }
}

@media screen and (max-width: 480px) {
  .container-main-img {
    margin-top: 40px;
  }
}